body {
  background-color: #F5F8FF;
  width: auto;
  height: auto;
}
body { font-family: 'Inter', sans-serif; }
.title-font { font-family: 'Noto Serif', serif; }

.news-letter {
  
  justify-content: center;
  align-items: center;
  background-image: url("assets/news-letter-bg.png");
}
.news-letter h3{
  font-size: xx-large;
}