*{
  font-family: 'Inter', 'Noto Serif' ;
}

:root {
  --bg-color: #F5F8FF;
  --primary-font: 'Inter';
  --heading-font: 'Noto Serif';
  --text-nav: 2rem;

}

.nav-menu {
  list-style: none;
  margin-right: 3rem;
}