body {
    background: #F5F8FF;
}
body { font-family: 'Inter', sans-serif; }
.title-font { font-family: 'Noto Serif', serif; }

 .btn-primary {
    background-color:#E95A08;
    color: white;
    border: none;
    border-radius: none;
    cursor: pointer;
 }
.btn-primary:hover {
    background-color: #d14f04;

}

@media screen and (max-width: 567px) {
  .nav {
    flex-direction: column-reverse;
  }
  
}